# env
*.DS_Store
**/.DS_Store
*.ipynb_checkpoints
__pycache__
.vscode
.env
**/node_modules/*
**/.hf
**/.huggingface
modules/
demo/
# common files
*.csv
*.txt
*.json
*.png
*.jpg
*.JPG
*.jpeg
*.gif
*.bmp
*.tiff
*.tif
*.mp4
*.mov
*.avi
*.bmp
*.zip
*.tar.gz
*.pdf
# log
*.log
*.err
*.out
*.key

# torch model
*.pt
*.pth
*.log
*.err
*.yaml
*.ckpt
*.cache

#
**/events.out.tfevents.*

# folders
slides/
modules/

# notebooks/*
# notes/*
notes/output/
out/*
run/logs/*
lightning_logs/*
# **/examples/*
# log files
*.err
*.log
*.out
**/events.out.tfevents.*
# images/videos
*.jpg
*.jpeg
*.tar.gz
# python miscs
*.pyc
# model files
*.h5
*.ckpt
*.pt
PyPI-Recovery-Codes-poissonfish-2024-02-07T22_31_52.500609.txt

# exception
!**/demo/**
!requirements.txt
!modules/ring_capture/packages/**
!ms/*.jpg

# latex
*.aux
*.fdb_latexmk
*.gz
*.files
**/main.blg
*.fls
